body {
	background-color: #ffcccc;
	display: inline-block;
	padding: 10px 20px 20px;
	margin-left: 10%;
	margin-top: 5%;
	border-radius: 10%;	
}

p {
	font-family: monospace;
	background-color: #fff;
}